@use './../../../node_modules/bootstrap/scss/bootstrap.scss';
@use "./partials/_var.scss" as *;
@use "./partials/_tags.scss";
@use "./partials/_cards.scss";

body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #3000a8;
}

body::-webkit-scrollbar-thumb {
    background-color: #00ffcc;
    border-radius: 50px;
    height: 123px;


}

body::-webkit-scrollbar-thumb:hover {
    background-color: #79ffe4;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-left: 1px solid #00ffcc;
    ;
}