@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_var.scss" as *;
@use "./partials/_navbar.scss";
@use "./partials/_tags.scss";
@use "./partials/_links.scss";

body.dark_mode {
    background-color: $bg_color_dark;
    color: $text_color_dark;
  }
  
  body.light_mode {
    background-color: $bg_color_light;
    color: $text_color_light;
    .modal-overlay{
        color:white;
    }
  }

a {
    color:rgb(0, 204, 255);
}


.sticky_app {
    background-color: $bg_nav;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky_navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.btn_diagram{
    background-color:$btn;
}

.nota{
    color: rgb(255, 143, 5);
    font-weight: bold;
}

.line{
    text-decoration: underline;
}