$primary: #22ad96;
$bg_body: #1d1d1d;
$dark: #333333;
$neutral: #aaaaaa;
$light: #edf3f5;
$info: #f2b91e;
$info_light: #efd17f;
$shadow_stack: #13e764;
$secondary: #c788f3a3;
$clr_bruise : #3f3a64;
$clr_tulip_tree : #efab43;
$clr_juice_button : #ef6f31;
$lime: #69bf14;